[Unit]
Description=Screensaver monitor service
After=multi-user.target

[Service]
Type=simple
User=toni
ExecStart=/home/toni/Projects/bosch-screensaver/venv/bin/python /home/toni/Projects/bosch-screensaver/screensaver.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
